@charset "utf-8";
/* CSS Document */


.bg-light{
	
	height: 50px;
	background-color:rgb(0, 0, 0) !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
	font-weight:500;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: white;
	color: black;
}
.navbar-light .navbar-nav .nav-link:focus {
    background-color: white;
	color: black;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;
	font-weight:500;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
    background-color: white;
	color: black;
}
.navbar-light .navbar-nav .active>.nav-link:focus{
    background-color: white;
	color: black;
}

.navbar-light .navbar-toggler {
    color: white;
	font-weight: bold;
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-light .navbar-brand {
    color: white;
	font-weight: bold;
}
.navbar-light .navbar-brand:hover{
     background-color: white;
	color: black;
}
.navbar-light .navbar-brand:focus{
    background-color: white;
	color: black;
}
.navbar-nav{
	background-color: black;
}
#pi:active{
	background-color: #a20000;
}
#sa:active{
	background-color: #a20000;
}
#st:active{
	background-color: #a20000;
}
.navber{
	margin: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////*/

.myheader{
	
	text-align: center;
	background-image: url(../images/cover3.jpg);
	background-size: cover;
	width: auto;
	height: auto;
	margin: 0px;
	background-attachment: fixed;
    background-position: center;
	
	
}
.myheader .jumbotron{
	border-radius: 20px;
	background-color: rgba(0,0,0,0.4);
	margin: 0px;
	width:auto;
	height: auto;
}
.display-1{
	color:white;
	font-style: italic;
	font-size: 90px;
	font-family: aladin;
}
.display-4{
	color: white;
	font-family: aladin;
}
.myheader .jumbotron p{
	color: white;
}
.btn-primary{
	background-color: black;
	color: white;
	border: solid 2px white;
	cursor: pointer;
	margin-top: 20px;
}
.btn-primary:hover{
	background-color: white;
	color: black;
	border: solid 2px black;
}
/*//////////////////////////////////////////////////////////////////////*/
.menu-section{
	background-color: black;
	width: auto;
	height:auto;	
	padding: 0;
	margin: 0px;
}

.menu-section .display-3{
	color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #a20000;
}
.menu-section a{
    color: #ef1b1b;
    text-decoration: none;
    background-color: #f8f9fa;
    -webkit-text-decoration-skip: objects;
}
.menu-types{
	background-color: white;
	border: solid 1px black;
	height: auto;
	margin: 0px;

}
.menu-types .display-2{
	color: black;
	font-size: 50px;
}
.menu-pizza{
	width: auto;
}
.price{
	background-color: gray;
	width: 90px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	
}
.menu-salads{
	display: none;
	width: auto;
}
.menu-starter{
	display: none;
	width: auto;
}
.menu-types .row:nth-child(2n){
	background-color:#F1EAEA;
}
/*//////////////////////////////////////////////////////////////////////////*/
.about{
	background-color: #f44336;
	width: 100%;
	height: 1300px;
	filter: grayscale(75%);
	margin: 0px;
}
.about p{
	color: white;
}
.about h1{
	color: black;
}
.about .container h2{
	color: black;
}
/*////////////////////////////////////////////////////////////////*/
.location{
	
	background-color:#2E2C2C;
	filter: grayscale(25%);
	height: auto;
	width: auto;
	margin: 0px;

}
/*//////////////////////////////////////////////////////////////////*/
.contact{
	
	background-image: url("../images/about-us.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: auto;
	margin: 0px;
}
.blacking{
	background-color: rgba(0,0,0,0.5);
}
.contact h4{
	color: white;
}
.form-control {
    width: 60%;
    background-color: rgba(255,255,255,0.8);
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*@media screen and (max-width:500px), screen and (max-device-width: 1280px){
	h3{
		font-size: 15px;
	}
}*/
